.contact-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  
}
  
  .contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-bottom: 2px solid #636b2f;
  }
  
  .contact-form textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .contact-form button {
    width: 30%;
    padding: 12px;
    color:#636b2f;
    border: #636b2f solid 1px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #636b2f;
    color: white;
  }
  